<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836379539083-266fkdv1u6n33gmhudk67p2gmvenl2v7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836379539083-266fkdv1u6n33gmhudk67p2gmvenl2v7</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Xatc58YW7SCxFfJ_y4jA3bkIi5FqpH8</string>
	<key>GCM_SENDER_ID</key>
	<string>836379539083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bronla</string>
	<key>PROJECT_ID</key>
	<string>bronla-d2b44</string>
	<key>STORAGE_BUCKET</key>
	<string>bronla-d2b44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836379539083:ios:99f5b6c529829ab344068e</string>
</dict>
</plist>